@import "elements.less";
/* ------------------------------
			variantes
------------------------------ */
@azul1: #2A307C;
@azul2: #4B52A2;
@roboto: 'Roboto', sans-serif;

@radius: 3px;




/* ------------------------------
			Generales
------------------------------ */

body {
	font-family: @roboto !important;
}

a {
	color: @azul1 !important;
	.transition(.2s, ease);
	&:hover {
		color: @azul2 !important;
		text-decoration: none;
	}
}
h1, h2, h3, h4, h5, h6 {
	color: @azul1 !important;
}

header {
	position: fixed;
	z-index: 999;
	padding: 0 0 10px 0;
	background: rgba(255, 255, 255, 0.7);
	width: 100%;
	box-shadow: 0px 1px 4px rgba(0, 0, 0, 0.7);
	border-top: 4px solid @azul1;
}
/* menu responsive */
.slicknav_menu {
	display:none;
}

@media screen and (max-width: 40em) {
	.js #menu {
		display:none;
	}
	
	.js .slicknav_menu {
		display:block;
	}
}
/* -----*/

#navTop {
	margin-top: 10px;
	margin-bottom: 30px;
	color: @azul1;
}
#menu2 {
	li {
		font-size: 18px;
		margin-left: 5px;
		a {
			font-weight: 700;
			color: @azul1 !important;
			&:hover {
				color: @azul1 !important;
				border-bottom: 2px solid @azul1;

			}
		}
	}
	.dropdown{
		ul {
			background: rgba(255, 255, 255, 0.90);
			border: none;
		}
	}
}

footer {
	background: @azul2;
	padding: 20px 0;
	color: white;
	font-weight: 300;
	#logoFooter{
		margin-top: 10px;
	}
	a {
		color: white !important;
		&:hover {
			color: @azul1 !important;
		}
	}
	h3, h4 {
		color: white !important;
	}
}
#copyrights {
	color: white;
	background: @azul1;
	padding-top: 9px;
	font-size: 10px;
	font-weight: 100;
}
/* modal window */
.cerrar {
	font-size: 48px;
	color: #2A307C;
	padding: 10px 0;
	text-align: center !important;
	margin: 0 auto;
	width: 60px;
	
}
.modal-content {
	border: none !important;
}
.contenidoModal {
	width: 70%;
	margin: 0 auto;
}
/* ---------  */


/* ------------------------------
			clases
------------------------------ */

.mt150 {
	margin-top: 150px;
}
.azul {
	color: @azul1;
}
.fLeft {
	float: left;
}
.fRight {
	float: right;
}
.activo {
	border: solid 2px @azul1;
	padding: 2px 5px;
}
a.sliderBtn {
	border: solid 2px @azul1;
	padding: 7px 10px;
	font-size: 16px;
	.transition(0.2s, ease-out)	
	&:hover {
		background: @azul1 !important;
		color: white !important;
		
	}
}
.botonInfo {
	border: solid 2px @azul1;
	padding: 7px 10px;
	border-radius: @radius;
}
.botonInfoAz {
	background: @azul1;
	padding: 13px 20px;
	font-size: 14px;	
	color: white !important;
	border-radius: @radius;
	&:hover{
		color: white !important;
	}
}
.botonInfoWh {
	padding: 8px 15px;
	color: white !important;
	border: 1px solid white;
	border-radius: @radius;
	&:hover{
		color: white !important;
	}
}
.drBtn {
	margin-top: 80px;	
	margin-bottom: 50px;	
	
}


/* ------------------------------
			index
------------------------------ */
.play {
	color: @azul1;
	font-size: 86px;	
}
.bgWhite{
	color: white !important;
	text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.6);
}
#quote {
	margin-top: 50px;
	margin-bottom: 30px;
}

#infoIndex {
	margin-top: 50px;
	h3 {
		text-transform: uppercase;
		font-family: @roboto;
		font-weight: 300;
	}
}
#sliderIndex{
	p {
		font-size: 18px !important;
		color: @azul1;
		
	}
}

#datosT {
	background: @azul1;
	margin-top: 30px;
	color: white !important;
	h3{
		color: white !important;
		margin-top: 5px;
	}
}
#datos {
	background: url(../img/playa.jpg) no-repeat center top;
	margin-bottom: 50px;
	height: 350px;
	padding: 20px 0;
	border-bottom: 6px solid @azul1;
	img {
		margin-top: 15%;
	}
}
.datosText {
	font-size: 32px;
	color: white;
	text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.75);
	margin-top: 15%;
}
/* ------------------------------
	 Dr. Carlos Aguilar
------------------------------ */

#bg {
	background-image: url(../img/bg-drcarlosaguilar.jpg);
	width: 100%;
}
#cualidades {
	margin: 100px 0;	
}
.hrCual {
	margin: 0 auto 10px;
	width: 70%;

}
#quote {
	margin-bottom: 80px;
	p {
		font-size: 18px;	
	}
	
}

/* ------------------------------
	 enfermedades
------------------------------ */
#bg-enfermedades {
	background-image: url(../img/bg-enfermedades.jpg);
	width: 100%;
}
#datosEnfermedades {
	background-image: url(../img/banner-enfermedades.jpg);
	width: 100%;
}



/* ------------------------------
	 etapas varices
------------------------------ */
.nivel {
	padding: 50px 0;	
}

.bgEtp {
	background-image: url(../img/bg-enfermedades.jpg);
	width: 100%;
}


/* ------------------------------
	 contacto
------------------------------ */
#bgContacto {
	background: url(../img/bg-contacto.jpg) no-repeat center top;
}
#contacto {
	background: white;
	border-radius: @radius;
	box-shadow: 0px 0px 6px rgba(0, 0, 0, 0.64);
}
#infoCont {
	color: @azul1;
	margin: 60px 0;		
}



/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	#menu2 {
		li {
			font-size: 14px;
			margin-left: 5px;
			a {
				font-weight: 500;
				color: @azul1 !important;
				&:hover {
					color: @azul1 !important;
					border-bottom: 2px solid @azul1;
	
				}
			}
		}
	}
	.mtEnf {
		margin-top: 50px;	
	}
	footer{
		h3{
			font-size: 18px !important;
		}
		a {
			font-size: 12px;
		}
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {
	header {
		position: relative;
	}

}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
    
}
